/* GLOBAL STYLE GUIDES */
body { background-color: #dedede; color: grey;}
h1 { font-family: "Open Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; color:#000000; margin-top:20px;} 
h3 { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

/* STYLE GUIDES FOR CHALLENGE 1 */
.challenge-1-card {
    width: 290px !important;
    border-radius: 1px !important;
}
.dog-image {
    height: 200px;
}
.beach-day-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #0F5EF0;
    margin-bottom: 18px !important;
}
.rufus-text{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #7A8594;
    margin-bottom: 20px !important;
}
.modified-text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #7A8594;
    margin-bottom: 14px !important;
}
.challenge-1-shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.challenge-1-shadow:hover {
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.6);
}

/* STYLE GUIDES FOR CHALLENGE 2 */
.form-container {
    background-color: white;
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
    width: 50%;
}
.name-element {
    margin-top: 40px !important;
}
.input-style {
    height: 30px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size:12px;
    color: #221F4D;
    opacity: 0.5;
    margin-bottom:20px;
}
.label-style {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size:12px;
    color: #221F4D;
}
.phone-number-bottom {
    margin-bottom: 0 !important;
}
.small-text-bottom {
    margin-bottom: 20px;
    font-style: italic;
}
.confirm-password-bottom {
    height: 30px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size:12px;
    color: #221F4D;
    opacity: 0.5;
    margin-bottom: 30px;
}
.challenge-2-margin-left {
    padding-left: 40px;
    padding-right: 40px;
}
.save-button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    height: 30px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #0F5EF0;
}
.save-button:hover {
    background-color: #0C4BC0;
}

/* STYLE GUIDES FOR CHALLENGE 3 */
.table-container {
    background-color: white;
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
}